
* {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: rgb(255, 252, 235);
  background-color:  rgb(70, 70, 70);
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h1 { font-weight: 900; }
h2 { font-weight: 700; }
h3 { font-weight: 400; }
h4 { font-weight: 300; }

body {
  width:100%;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(255, 252, 235);
  overflow:auto;
}

nav {
  display: flex;
  flex: 1 0 0;
  justify-content: flex-end;
  padding: 10px 10px;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom:0%;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgb(255, 252, 235);

}

.banner-video {
  position: relative;
  height: 60vh; /* 60% of viewport height */
  overflow: hidden;
  height: 300px;

}

.banner-video iframe {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(4); /* zoomed in by 20% */
  width: 100%;
  height: 100%;
  border: none;
  opacity: 50%;
}

.nav {
  text-decoration: none;
  padding: 5px 15px;
  cursor: pointer;
}

.nav:hover {
  color: rgb(255, 245, 168);
}

.nav-btn {
  border: 1px solid rgb(255, 252, 235);
  border-radius: 25px;
}

.nav-btn:hover{
  background-color: rgb(78, 78, 78);
}

.nav-btn:active{
  background-color: rgb(120, 120, 120);
}


#headshot {
  height: 200px;
  border-radius: 10px;
}

.portfolio {
  padding: 50px 50px 50px 50px;
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  justify-content: space-evenly;
  align-items: flex-start;
}

.card {
  border: 1px solid black;
  border-radius: 15px;
  flex: 0 0 300px;

}
.card img {
  width: 100%;
  height: 100%;
}


